import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";

const firebaseConfig = {
  apiKey: "AIzaSyC7hg5Ouzl44F4AJwsgMRqV-TF_mGQxlEo",
  authDomain: "appliansys-3db2d.firebaseapp.com",
  projectId: "appliansys-3db2d",
  storageBucket: "appliansys-3db2d.firebasestorage.app",
  messagingSenderId: "1039453791587",
  appId: "1:1039453791587:web:3c1ba040ff91821b00df56",
  measurementId: "G-YGT9PK3S5E"
};